﻿   body {padding: 0 ; margin: 0  ; background: url(loginPic.jpg) ; background-size: cover  ; background-position:bottom; font-family: sans-serif}
            
            body .login_box{
                
                text-align: center  ;
                 width: 320px  ; 
                 height: 420px ;
                
                background: rgba(0,0,0,0.6)  ; 
                    color:#fff ;
                position: absolute  ;
            transform: translate(-50%, -50%)  ;
                top:50%  ; 
                left:50%  ; 
                box-sizing: border-box ;
                padding: 5%  ;
                
                
            }
            body .login_box p 
            
            {
                
                font-weight: bold  ; 
                 margin-top:4%  ;
                
            
            }
            body .login_box input {border: none  ; background: transparent  ; ; border-bottom: 1px solid #fff; outline: none ; margin-top: 1%; color:white}
            
            body .login_box button {background-color: limegreen; margin-top:20%  ; color:white ; border: none; padding:5px  ; margin-bottom:  30%}
            
            body .login_box a{ font-size: 11px; color:limegreen }
        
        