 body {padding: 0 ; margin: 0  ; background: url(zoneRegester.jpg) ; background-size: cover  ; background-position: top; font-family: sans-serif}
            
            body .register_box{
                
                text-align: center  ;
                 width: 520px  ; 
                 height: 100% ;
                
                background: rgba(0,204,0,0.4)  ; 
                    color:#fff ;
                position: absolute  ;
            transform: translate(-50%, -0%)  ;
            
                top:0  ; 
                left:80%  ; 
                box-sizing: border-box ;
                padding: 2%  ;
                
                
            }
            body .register_box p 
            
            {
                
                font-weight: bold  ; 
                 margin-top:2%  ;
                width:200px  ; 
                
                margin: 2%;
                
            
            }
            body .register_box input {border: none  ; background: transparent  ; ; border-bottom: 1px solid #fff; outline: none ; margin-top: 1%; color:white}
            
            body .register_box button {background-color: dimgrey; margin-top:20%  ; color:white ; border: none; padding:10px  ; margin-bottom:  30%}
            
            